.team{
    text-align: center;
    padding: 32px;
    background-color: #d9f7d9;
}

.team h3{
    font-size: 32px;
    border-bottom: 4px solid #57c278;
    display: inline-block;
    padding-bottom: 8px;
}

.team .container-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    flex-wrap: wrap;
}